<header>
    <div>
        <a href="/"> Average Gym</a>
    </div>
    <nav>
        <ul>
            <% if (locals.isAuth) { %>
            <li>Logout</li>
            <% } %>
            <li></li>
            <li></li>
        </ul>
    </nav>
</header>