<%- include('includes/head', {pageTitle: 'Average Gym'}) %>


</head>

<body>
    <%- include('includes/header') %>
    <main>
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">

        <h1>Welcome to Average Gym</h1>


    </main>

    <%- include('includes/footer') %>