* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', 'sans-serif';
  background: url(./bg-images/mark-bertulfo-4WcuyZ_f5ns-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  /* background-color: rgb(228, 228, 248); */
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

a {
  text-decoration: none;

  color: black;
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: rgb(113, 94, 238);
  font-weight: 700;
  color: black;
  border: 1px solid var(--color-primary-500);
  border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
  background-color: rgb(89, 68, 229);
  border-color: rgb(89, 68, 229);
}

.alert {
  border-radius: var(--border-radius-small);
  background-color: rgb(255, 192, 180);
  color: rgb(199, 51, 15);
  padding: var(--space-4);
}

.alert h2 {
  font-size: 1rem;
  margin: var(--space-2) 0;
  text-transform: uppercase;
  text-align: center;
}

.alert p {
  margin: var(--space-2) 0;
  text-align: center;
}
