form hr {
  margin: var(--space-4);
  border-color: rgb(103, 100, 100);
}

label {
  display: block;
  margin-bottom: var(--space-2);
}

input {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: 1px solid black;
  width: 90%;
}
